{% extends 'shop/base.html' %}
{% load shop_tags %}
{% block content %}
<div class="container">
    <form action="{% url 'all_cables' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col d-flex">
                <div class="dropdown me-3">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Тип кабеля
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for type in cable_types %}
                        <li class="mx-3">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="{{ type.name }}"
                                           value="{{ type.pk }}">
                                    {{ type.name }}
                                </label>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <button class="btn bg-dark text-white" type="submit">Применить фильтры</button>
            </div>
        </div>
    </form>
</div>


<div class="container">
    <div class="row g-3 pt-3">
        {% for cable in cables %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card bg-dark text-white border-white h-100">
                {% for photo in cable.cablephoto_set.all|slice:':1' %}
                    <img src="{{ photo.photo.url }}" alt="Photo for {{ cable.name }}" class="card-img-top">
                {% endfor %}
                <div class="card-body d-flex flex-column text-white">
                    <h3 class="card-title">{{ cable.name }}</h3>
                    <div class="my-2">Длина: {% widthratio cable.length_m 1 100 %} см.</div>
                    <p class="card-text">{{ cable.description }}</p>
                    <div class="d-flex justify-content-between align-items-center mt-auto">
                        <a href="{{ cable.get_absolute_url }}" class="btn btn-outline-light">Подробнее</a>
                        <p>{{ cable.price|add:0 }} ₽</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
