{% extends 'shop/base.html' %}

{% block content %}
<div class="container my-3">
    <div class="row">
        <div class="col-6 align-self-center">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for photo in cable.cablephoto_set.all %}
                        {% if photo.is_title %}
                            <div class="carousel-item active">
                                <img src="{{ photo.get_photo_url }}" class="d-block w-100" alt="Photo for {{ cable.name }}">
                            </div>
                        {% else %}
                            <div class="carousel-item">
                                <img src="{{ photo.get_photo_url }}" class="d-block w-100" alt="Photo for {{ cable.name }}">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-6 align-self-top">
            <div>
                <h1 class="text-white">{{ cable.name }}</h1>
                <h5 class="text-white mt-3">Цена: {{ cable.price }}₽</h5>
                <h6 class="text-white mt-3">Длина: {{ cable.length_sm }} sm</h6>
                {% if cable.units_in_stock %}
                    <div><a href="#" class="btn btn-sm btn-outline-light mt-3">В корзину</a></div>
                {% else %}
                    <div><a href="#" class="btn btn-sm btn-outline-light mt-3 disabled">Нет в наличии</a></div>
                {% endif %}
            </div>
            <div class="text-white mt-3">{{ cable.description }}</div>
        </div>
    </div>
</div>
{% endblock content %}