{% extends 'shop/base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 p-5">
                <div class="table-responsive ">
                    <table class="table">
                        <thead>
                            <tr class="border-bottom">
                                <th scope="col" class="border-0 text-white">
                                    <div class="p-2 px-3 text-uppercase">Наименование</div>
                                </th>
                                <th scope="col" class="border-0 text-white">
                                    <div class="py-2 text-uppercase">Цена</div>
                                </th>
                                <th scope="col" class="border-0 text-white">
                                    <div class="py-2 text-uppercase">Количество</div>
                                </th>
                                <th scope="col" class="border-0 text-white">
                                    <div class="py-2 text-uppercase">Удалить</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border-bottom">
                                <td scope="row" class="border-0">
                                    <div class="p-2">
                                        <img src="https://bootstrapious.com/i/snippets/sn-cart/product-1.jpg" alt=""
                                            width="70" class="img-fluid rounded">
                                        <div class="mx-3 d-inline-block align-middle">
                                            <a href="#" class="h5 text-white d-inline-block text-decoration-none">
                                                Product name
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td class="border-0 align-middle text-white">Price</td>
                                <td class="border-0 align-middle text-white">Qty</td>
                                <td class="border-0 align-middle text-white">X</td>
                            </tr>
                            <tr>
                                <td scope="row" class="border-0"></td>
                                <td class="border-0 align-middle text-white">6 500 Р</td>
                                <td class="border-0 align-middle text-white"></td>
                                <td class="border-0 align-middle text-white"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
