{% extends 'shop/base.html' %}

{% block content %}
<div class="container">
    <div class="row g-3 pt-3 border-top">
        <!-- Copy this -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card bg-dark text-white border-white">
                <img src="https://picsum.photos/1280/720" alt="Title photo preview" class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title">Cable type Title</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque totam vero
                        libero commodi quis eveniet, quas dolor ipsam dicta veniam quibusdam modi quisquam tempore
                        distinctio iste nihil ullam ab doloribus.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-outline-light test-light">Inspect all</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}