{% extends 'shop/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 my-3">
            <div class="table-responsive ">
                <table class="table">
                    <thead>
                    <tr class="border-bottom">
                        <th scope="col" class="border-0 text-white">
                            <div class="p-2 text-uppercase">#</div>
                        </th>
                        <th scope="col" class="border-0 text-white">
                            <div class="p-2 text-uppercase">Наименование</div>
                        </th>
                        <th scope="col" class="border-0 text-white">
                            <div class="py-2 text-uppercase">Количество</div>
                        </th>
                        <th scope="col" class="border-0 text-white">
                            <div class="py-2 text-uppercase">Сумма</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in order.orderedproduct_set.all %}
                    <tr class="border-bottom">
                        <td class="border-0 align-middle text-white">{{ forloop.counter }}</td>
                        <td scope="row" class="border-0">
                            <div class="p-2  align-middle">
                                <img src="{{ product.product.title_photo_url }}"
                                     alt="{{ product.product.name }} photo"
                                     width="70" class="img-fluid rounded">
                                <div class="mx-3 d-inline-block">
                                    <a href="{{ product.product.get_absolute_url }}"
                                       class="h5 text-white d-inline-block text-decoration-none">
                                        {{ product.product.name }}
                                    </a>
                                </div>
                            </div>
                        </td>
                        <td class="border-0 align-middle text-white">{{ product.quantity }}</td>
                        <td class="border-0 align-middle text-white">{{ product.get_product_total_price }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}