{% extends 'shop/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 my-3">
            <div class="table-responsive ">
                <table class="table">
                    <thead>
                    <tr class="border-bottom">
                        <th scope="col" class="border-0 text-white">
                            <div class="p-2 text-uppercase text-center">№</div>
                        </th>
                        <th scope="col" class="border-0 text-white">
                            <div class="p-2 text-uppercase text-start">Наименование</div>
                        </th>
                        <th scope="col" class="border-0 text-white">
                            <div class="py-2 text-uppercase text-center">Количество</div>
                        </th>
                        <th scope="col" class="border-0 text-white">
                            <div class="py-2 text-uppercase text-center">Сумма</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in order.orderedproduct_set.all %}
                    <tr class="border-bottom">
                        <td class="border-0 align-middle text-white text-center">{{ forloop.counter }}</td>
                        <td scope="row" class="border-0 text-start">
                            <div class="p-2  align-middle ">
                                <img src="{{ product.product.title_photo_url }}"
                                     alt="{{ product.product.name }} photo"
                                     width="70" class="img-fluid rounded">
                                <div class="mx-3 d-inline-block">
                                    <a href="{{ product.product.get_absolute_url }}"
                                       class="h5 text-white d-inline-block text-decoration-none">
                                        {{ product.product.name }}
                                    </a>
                                </div>
                            </div>
                        </td>
                        <td class="border-0 align-middle text-white text-center">{{ product.quantity }}</td>
                        <td class="border-0 align-middle text-white text-center">{{ product.product_total_price }}
                        </td>
                    </tr>
                    {% endfor %}

                    {% if order.get_delivery_type_display != 'Самовывоз' %}
                        <tr class="border-bottom">
                            <td class="border-0 align-middle text-white text-center">{{ forloop.counter }}</td>
                            <td class="border-0 align-middle text-white text-start h5">Доставка транспортной компанией</td>
                            <td class="border-0 align-middle text-white text-center">1</td>
                            <td class="border-0 align-middle text-white text-center"> 500</td>
                        </tr>
                    {% endif%}
                    <tr>
                        <td class="border-0"></td>
                        <td scope="row" class="border-0"></td>
                        <td class="border-0 align-middle text-white text-end">Итого:</td>
                        <td class="border-0 align-middle text-white text-center">{{ order.order_total_price }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% if order.get_delivery_type_display != 'Самовывоз' %}
        <div class="row">
            <div class="col">
                <p class="h3">Адрес доставки:</p>
                <p class="h5">{{ order.shipping_address.address}}</p>
                <p class="h5">{{ order.shipping_address.city}}</p>
                <p class="h5">{{ order.shipping_address.state}}</p>
                <p class="h5">{{ order.shipping_address.zipcode}}</p>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col">
                <p class="h3">Самовывоз</p>
            </div>
        </div>
    {% endif %}
</div>
{% endblock content %}