{% extends 'shop/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4">
            Информация о пользователе
        </div>
        <div class="col-8 border-start">

            <div class="table-responsive ">
                <table class="table">
                    <thead>
                    <tr class="border-bottom">
                        <th scope="col" class="border-0 text-white">
                            <div class="p-2 text-uppercase">№</div>
                        </th>
                        <th scope="col" class="border-0 text-white">
                            <div class="py-2 text-uppercase">Дата</div>
                        </th>
                        <th scope="col" class="border-0 text-white">
                            <div class="py-2 text-uppercase">Товаров</div>
                        </th>
                        <th scope="col" class="border-0 text-white">
                            <div class="py-2 text-uppercase">Сумма</div>
                        </th>

                        <th scope="col" class="border-0 text-white">
                            <div class="py-2 text-uppercase">Статус</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr class="border-bottom">
                            <td class="border-0 align-middle text-white">{{ order.pk }}</td>
                            <td class="border-0 align-middle text-white">{{ order.order_accepted_date }}</td>
                            <td class="border-0 align-middle text-white">{{ order.order_total_products}}</td>
                            <td class="border-0 align-middle text-white">{{ order.order_total_price }}</td>
                            <td class="border-0 align-middle text-white">{{ order.get_status_display }}</td>
                            <td class="border-0 align-middle text-white">
                                <a href="{{ order.get_absolute_url }}" class="btn btn-sm btn-outline-light">Подробнее</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}