{% extends 'shop/base.html' %}

{% block content %}
<div class="container mb-5">
  <div class="row">
    <div class="col-4 border-end">
      <div class="card bg-dark border-0">
        <div class="card-body text-center">
          <h5 class="my-3">{{ user.last_name }} {{ user.first_name }}</h5>
          <h6 class="my-3">{{ user.phone_number }}</h6>
          <div class="d-flex justify-content-center mb-2">
              <a href="{% url 'update_user_info_page' %}" class="btn btn-light">Обновить информацию</a>
          </div>
        </div>
      </div>
      <div class="card bg-dark border-0">
        <div class="card-body">
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">
              <p class="mb-0">{{ user.email }}</p>
            </div>
          </div>
          <hr>
          {% if last_used_address %}
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Город</p>
              </div>
              <div class="col-sm-9">
                <p class="mb-0">{{ last_used_address.city }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Адрес</p>
              </div>
              <div class="col-sm-9">
                <p class="mb-0">{{ last_used_address.address }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Индекс</p>
              </div>
              <div class="col-sm-9">
                <p class="mb-0">{{ last_used_address.zipcode }}</p>
              </div>
            </div>
            <hr>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-8">
      {% if orders %}
      <div class="table-responsive ">
        <table class="table">
          <thead>
          <tr class="border-bottom">
            <th scope="col" class="border-0 text-white">
              <div class="p-2 text-uppercase text-center">№</div>
            </th>
            <th scope="col" class="border-0 text-white">
              <div class="py-2 text-uppercase text-start">Дата</div>
            </th>
            <th scope="col" class="border-0 text-white">
              <div class="py-2 text-uppercase text-center">Товаров</div>
            </th>
            <th scope="col" class="border-0 text-white">
              <div class="py-2 text-uppercase text-center">Сумма</div>
            </th>

            <th scope="col" class="border-0 text-white">
              <div class="py-2 text-uppercase text-center">Статус</div>
            </th>
          </tr>
          </thead>
          <tbody>
            {% for order in orders %}
            <tr class="border-bottom">
              <td class="border-0 align-middle text-white text-center">{{ order.pk }}
              </td>
              <td class="border-0 align-middle text-white text-start">{{ order.order_accepted_date }}
              </td>
              <td class="border-0 align-middle text-white text-center">{{ order.order_total_products}}
              </td>
              <td class="border-0 align-middle text-white text-center">{{ order.order_total_price }}
              </td>
              <td class="border-0 align-middle text-white text-center">{{ order.get_status_display }}
              </td>
              <td class="border-0 align-middle text-white text-center">
                <a href="{{ order.get_absolute_url }}"
                   class="btn btn-sm btn-outline-light">Подробнее</a>
              </td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
      {% else %}
        <h5>У вас пока нет ни одного оформленного заказа</h5>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}