.switch {
    position: relative;
    display: flex;
    width: 40px;
    height: 20px;
    margin-right: 10px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #282a36;
    transition: .4s;
    border-radius: 34px;
    border: 1px solid #FFFFFF;
}

.switch input {
    display: none;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2.5px;
    bottom: 2.5px;
    background-color: #282a36;
    transition: .4s;
    border-radius: 25px;
    border: 1px solid #FFFFFF;
}

input:checked+.slider {
    background-color: #D8DEE9;
}

input:checked+.slider:before {
    transform: translateX(21px);
}